{{define "footer"}}
    <footer class="site-footer">
        <a href="index.html" class="footer-brand">{{.SiteName}}</a>
        <span class="footer-tagline">Learn.&nbsp; Understand.&nbsp; Take action.</span>
        <a href="disclaimers.html" class="footer-disclaimers">Disclaimers</a>
    </footer>
{{end}}
